* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    background: #0f172a;
    color: white;
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
}

.sidebar {
    background: #111827;
    padding: 30px 20px;
    border-right: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.logo h1 {
    font-size: 1.8rem;
}

.logo span {
    color: #3b82f6;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

sidebar nav a {
    text-decoration: none;
    color: #d1d5db;
    padding: 15px;
    border-radius: 12px;
    transition: 3s;
}

.siderbar nav a:hober {
    background: #2563eb;
    color: white;
}
.perfil{
    background-color: #092561;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    place-items: center;
    
}

.perfil div{
    background-color: rgba(128, 255, 0, 0.247);
    align-items: center;
    font-size: 2rem;
    max-width: 600px;
    min-width: auto;height: 100%;

}


#imagen{
    border-radius: 50%;
    box-shadow: 5px 5px 5px 5px slategray;

}
h2, p{
    background-color: #0f172a;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
